{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="container-fluid form-content">
        <h2>{{ meal.name }}</h2>
        <div class="float-lg-right">
            <img class="img-rounded" src="{{ asset("uploads/img/meals/"~meal.image) }}">
        </div>
        <div class="form-content">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}