{% extends 'admin/base.html.twig' %}
{% block body %}
    <h1>{{ meal.name }}</h1>
    <hr>
    <img src="{{ asset("uploads/img/meals/"~meal.image) }}">
    <br><br>
    <p><strong>Description: </strong>{{ meal.description }}</p>
    <p><strong>Restaurant: </strong>{{ meal.restaurant }}</p>
    <p><strong>Price: </strong>{{ meal.price }} &euro;</p>
    <p><strong>Portions: </strong>{{ meal.quantity }}</p>
    <p><strong>Variants:</strong></p>
    <ul>
        {% for mealOption in meal.mealOptions %}
            <li>{{ mealOption.name }}</li>
            {% for option in mealOption.options %}
                        <ul>
                            <li>{{ option.value }}</li>
                        </ul>
                {% endfor %}
        {% endfor %}
    </ul>
{% endblock %}