{% trans_default_domain 'FOSUserBundle' %}

<div class="container-fluid" id="content">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <button type="submit" class="btn btn-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">
                {{ 'registration.submit'|trans }}
            </button>
        </div>
        <div>
            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
        </div>
    {{ form_end(form) }}
</div>